:root {
  --pagebg: #fff;
  --main: green;
  --lightbg: #fff;
  --bglink: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--pagebg);
}

.container {
  max-width: 1100px;
  padding: 10px 0;
  margin: auto;
}

header {
  font-size: 28px;
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: var(--main);
}

header input {
  padding: 5px 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid green;
}

nav {
  background: var(--main);
  color: var(--lightbg);
  padding: 15px 0;
}

ul {
  list-style: none;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

ul li a {
  color: var(--lightbg);
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 10px;
}

ul li.active a,
ul li:hover a {
  background: var(--bglink);
}

.banner {
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  text-shadow: -2px -2px 4px rgb(127, 126, 126);
}

h2 {
  color: var(--main);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item-image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 5px solid rgb(196, 226, 196);
}

.item-image:hover {
  transform: scale(1.1);
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 5px;
}

.item-color,
.item-sexo {
  font-size: 14px;
}

footer {
  border-top: 2px solid green;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: var(--main);
}

.container img {
  margin: auto;
  display: block;
}
