<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Ong da Mari</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/">Ong da Mari</a>
        <form method="GET" action="/search">
          <input type="search" name="q" placeholder="Pesquise por raça" value= "{{ query }}"  />
        </form>
      </div>
    </header>

    <nav>
      <ul>
        <li class="{{#menu.all}}active{{/menu.all}}"><a href="/">Todos</a></li>
				<li class="{{#menu.dog}}active{{/menu.dog}}"><a href="/dogs">Cachorros</a></li>
				<li class="{{#menu.cat}}active{{/menu.cat}}"><a href="/cats">Gatos</a></li>
				<li class="{{#menu.fish}}active{{/menu.fish}}"><a href="/fishes">Peixes</a></li>
      </ul>
    </nav>